/*.Right{
    /* margin-left: auto; 
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
}*/

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

@media (min-width: 770px){
    .list {
        flex-direction: row;
        padding-inline-start: '0';
    }
}