.Navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.leftNav {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 40px;
  margin: 0;
}

@media (max-width: 769px) {
  .leftNav {
    flex-direction: column;
    padding: 0;
  }

  .Navbar {
    flex-direction: column;
    margin-top: 10px;
  }
}
