.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0;
    margin-top: 10px;
}

@media (min-width: 700px) {
    .buttonDiv {
        display: flex;
        flex-direction: row; 
        flex: 3 1 44%;
        /* padding: 0px 10px; */
    }
}