.container {
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.header {
  text-align: center;
}

.subHeader {
  border-top: 10px solid #0b5aa2;
  box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
}

.body {
  text-align: left;
}

.footer {
  text-align: left;
}

@media (min-width: 1000px) {
  .header {
    text-align: left;
  }
}
