.container {
  width: 90%;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  flex-direction: column;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 5px;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .container {
    width: 600px;
    text-align: center;
  }

  /* .Label {
    justify-content: flex-end;
    flex: 1.5 1 20%;
  } */
}
